%h2 Sign in

= render 'users/auth/providers', flow: 'login', icons: true, color: true, prefix: 'Login in with '

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :email, placeholder: 'you@example.com', autofocus: true, required: true
  = f.input :password, hint: false, required: true
  - if devise_mapping.rememberable?
    = f.input :remember_me, as: :hidden, value: true
  = f.button :submit, 'Sign in'
= render "users/shared/links"
