%h2= I18n.t 'auth.signin'

= render 'authentications/providers', flow: 'login', icons: true, color: true

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :email, placeholder: 'you@example.com', autofocus: true, required: true
  = f.input :password, hint: false, required: true
  - if devise_mapping.rememberable?
    = f.input :remember_me, as: :hidden, input_html: {value: true}
  = f.button :submit, I18n.t('auth.signin')
= render "users/shared/links"
