= yield


\------------------------------

= I18n.t('brand.name')
= root_url
= StarterKit::Settings.contact.phone
= StarterKit::Settings.contact.email}
= StarterKit::Settings.contact.email

- if @unsubscribe_url
 Unsubscribe:
 = @unsubscribe_url
