- authentication ||= nil
- disconnect_modal ||= nil

%li.authentication.card
  = render 'users/avatar', user: authentication, size: :thumb
  %h2= authentication.name
  - username = authentication.username_for_display or authentication.provider_name
  = link_to username, (authentication.profile_url or '#'), target: '_blank'
  .actions
    .disconnect
      = link_to I18n.t('auth.destroy.link'), [current_user, authentication], data: {confirm: I18n.t('auth.destroy.prompt'), confirm_modal: disconnect_modal}, method: :delete, rel: 'tooltip', title: I18n.t('auth.destroy.tooltip')
    .import
      = link_to I18n.t('auth.reconnect.link'), provider_auth_path(authentication.provider), class: 'oauth', data: {flow: 'connect'}, rel: 'tooltip', title: I18n.t('auth.reconnect.tooltip')
