- username = authentication.username_for_display or authentication.provider_name

= render layout: 'users/card', locals: {user: authentication, size: size, username: username, profile_url: authentication.profile_url, target: '_blank'} do
  .card__actions
    = link_to [current_user, authentication], data: {confirm: I18n.t('auth.destroy.prompt'), confirm_modal: disconnect_modal}, method: :delete, rel: 'tooltip', title: I18n.t('auth.destroy.tooltip') do
      %i.glyphicon.glyphicon-remove-circle
      = I18n.t('auth.destroy.link')
    = link_to provider_auth_path(authentication.provider), data: {flow: 'connect'}, rel: 'tooltip', title: I18n.t('auth.reconnect.tooltip') do
      %i.glyphicon.glyphicon-repeat
      = I18n.t('auth.reconnect.link')
