.auth__form
  - if resource_has_error? resource, :reset_password_token, :invalid
    .alert.alert-warning.alert-dismissable
      %button.close{'data-dismiss' => 'alert', 'aria-hidden' => true} &times;
      %h4= I18n.t 'auth.reset.invalid_title'
      %p= I18n.t 'auth.reset.invalid_message'
    %p= link_to I18n.t('auth.forgot.submit'), new_password_path(resource_name), class: 'btn btn-primary'

  - else
    %h2= I18n.t 'auth.reset.link'

    = simple_form_for resource, as: resource_name, url: password_path(resource_name), method: :put do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      = f.input :password, autofocus: true, required: true, hint: false
      = f.button :submit, I18n.t('auth.reset.submit'), class: 'btn-primary'

  = render "users/shared/links"
