- id ||= 'destroy-modal'
- i18n_prefix = i18n_prefix.present? ? "#{i18n_prefix}." : ''

.reveal-modal.warning{id: id, data: {reveal: ''}, tabindex: -1, role: 'dialog', 'aria-labelledby' => "#{id}-title", 'aria-hidden' => true}
  %h2{id: "#{id}-title"}= I18n.t "#{i18n_prefix}prompt"
  - warning = I18n.t "#{i18n_prefix}warning"
  - if warning.present?
    %p.lead
      = warning
  %p= I18n.t "#{i18n_prefix}notice"
  %button.alert{data: {confirm: '', dismiss: ''}}
    %i.fi-alert
    = I18n.t "#{i18n_prefix}submit"
  %button{data: {dismiss: ''}}= I18n.t "#{i18n_prefix}cancel"
  %a.close-reveal-modal ×
