%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
      %span.sr-only Toggle Nav
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "ExampleApp", root_path, :class => 'navbar-brand'

  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      - if user_signed_in?
        %li= link_to 'Logout', destroy_user_session_path, :rel=>'nofollow'
      - else
        %li= link_to 'Login', new_user_session_path
      - if user_signed_in?
        %li= link_to 'Edit account', edit_user_registration_path
      - else
        %li= link_to 'Sign up', new_user_registration_path
