!!!
%html
  %head
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %title= content_for?(:title) ? yield(:title) : 'StarterKit'
    %meta{:content => content_for?(:description) ? yield(:description) : 'StarterKit', name: 'description'}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    /[if lt IE 9]
      = javascript_include_tag 'ie',  'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield(:head)
  %body{class: "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'
    .container
      = render 'layouts/messages'
      = yield
      %footer
    - if defined?(Airbrake) && Airbrake.configuration.js_api_key.present?
      = airbrake_javascript_notifier
    = render 'layouts/javascripts'
