- show_all ||= false

= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  = f.input :email, autofocus: true, required: true

  - if show_all or resource.try(:first_name).present? or resource.try(:last_name).present?
    = f.input :first_name
    = f.input :last_name

  - unless hide_password
    %div{class: resource.errors.empty? ? 'collapse fade' : ''}
      = f.input :password, required: true, autocomplete: 'off'
      = f.button :submit, I18n.t('auth.signup.link'), class: 'btn-primary'
  - else
    = f.button :submit, I18n.t('auth.signup.link'), class: 'btn-primary'
