- show_all ||= false
- hide_password ||= false

= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  = f.input :email, autofocus: true, required: true

  - if show_all or resource.try(:first_name).present? or resource.try(:last_name).present?
    = f.input :first_name
    = f.input :last_name

  - if resource.new_record?
    - unless hide_password
      %div{class: resource.errors.empty? ? 'hide' : ''}
        = f.input :password, required: true, autocomplete: 'off'
      - content_for :on_ready do
        $('input[name="user[email]"]').on('click keydown', function(){$(this).closest('form').find('.hide').slideDown('slow')});

  - else # updating resource
    = f.input :password, autocomplete: 'off'
    - if resource.password_required?
      = f.input :current_password, autocomplete: 'off'

  = f.button :submit
