- destroy_modal_id = 'destroy-user-modal'

.auth__form
  %ul.nav.nav-tabs
    %li.active
      = link_to I18n.t('account.edit.link'), edit_user_registration_path
    %li
      = link_to I18n.t('accounts.edit.link'), user_authentications_path(current_user)


  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}

  = render 'users/registrations/form', show_all: true

  .auth__links
    %label= I18n.t 'auth.links.title'
    %ul
      %li= link_to I18n.t('account.destroy.link'), registration_path(resource_name), data: { confirm: I18n.t('account.destroy.prompt'), confirm_modal: "##{destroy_modal_id}" }, method: :delete

= render 'users/registrations/destroy_modal', id: destroy_modal_id