.auth__form
  %ul.nav.nav-tabs
    %li.active
      = link_to I18n.t('account.edit.title'), edit_user_registration_path
    %li
      = link_to I18n.t('accounts.edit.title'), user_authentications_path(current_user)

  = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|

    = f.input :email, placeholder: I18n.t('auth.email.placeholder'), autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    = f.input :password, label: 'New Password', autocomplete: 'off', hint: 'Leave blank unless changing password'

    = f.input :current_password, autocomplete: 'off'
    = f.button :submit, I18n.t('account.edit.submit'), class: 'btn-primary'

  .auth__links
    %label= I18n.t 'auth.links.title'
    %ul
      %li= link_to I18n.t('account.destroy.link'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
