.auth__form
  = render 'layouts/account_tabs'

  - if devise_mapping.confirmable? and not resource.confirmed?
    .panel.callout
      %p= I18n.t 'devise.registrations.signed_up_but_unconfirmed'
      = link_to I18n.t('auth.confirm.submit'), confirmation_path(resource_name), method: :post

  = render 'users/registrations/form', show_all: true

  = render 'users/shared/links', disable_signup: true

