-# This view is the heart of the registration page...
-# Multiple actions render this view

-# States:
-#    User has connected an auth provider but has not yet completed registration
-#    User has clicked on the Sign up link
-#    User submitted registration form but there was an error



/ = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
/   = devise_error_messages!
/   %div
/     = f.label :email
/     %br/
/     = f.email_field :email, :autofocus => true
/   %div
/     = f.label :password
/     %br/
/     = f.password_field :password
/   %div
/     = f.label :password_confirmation
/     %br/
/     = f.password_field :password_confirmation
/   %div= f.submit "Sign up"
/ = render "users/shared/links"
/ 




.signup
  - if @failed
    = render 'users/registrations/failed', provider: @provider

  - if @modal
    .modal-header
      %button.close{data: {dismiss: 'modal'}}x
      = render 'users/registrations/header'
  - else

  %div.reveal-container{class: (@modal ? "modal-body" : '')}
    .well
      .social
        -# todo: move this to after_auth
        - if @after_oauth
          %p
            We filled in some of your info from
            = succeed '.' do
              = provider_name(@provider)
            %br
            Now choose a username and password and you're good to go.
        - else
          = render 'authentications/providers', flow: 'signup', icons: true, color: true, prefix: 'Sign up with '
          %hr.or

      = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
        = f.input :email, label: false, required: true, placeholder: 'your email', input_html: {class: 'reveal-trigger', data: {'reveal-scroll' => '.modal-body'}}
        = f.input :password, label: false, required: true, placeholder: 'password'
        = f.error :base
        = f.button :submit, I18n.t('auth.signup'), class: 'btn-primary'
        .terms
          / By joining, you agree to the
          / = link_to 'Terms of Service', tos_page_path, target: '_blank'
          / and
          / = link_to 'Privacy Policy', privacy_page_path, target: '_blank'


    = render 'users/social/facepile'

  %div{class: (@modal ? 'modal-footer' : 'links')}
    Already registered?
    = link_to "Login", new_session_path(resource_name)
